@use "@styles/variables" as v;
.input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  box-shadow: v.$shadow;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  border: 1px solid transparent;

  &:focus {
    outline: none;
    border-color: v.$primary;
  }
}
