@use "@styles/variables" as v;

.course-card {
  position: relative;
  height: 360px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__info {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: v.$auth-color;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  &__desc {
    font-size: 0.9rem;
  }

  &__tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  &__tag {
    font-size: 0.8rem;
    border-radius: 40px;
    padding: 4px 8px;
    box-shadow: v.$shadow;
    background-color: v.$badge-bg;
  }
}
