.course {
  &__header {
    display: flex;
    gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    text-decoration: none;
  }

  &__cover {
    max-height: 240px;
    border-radius: 16px;
  }
}
