.course {
  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
  }

  &__header {
    display: flex;
    gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    text-decoration: none;
  }

  &__cover {
    max-height: 240px;
    border-radius: 16px;
  }
}
