@use "@styles/variables" as v;
.group-card {
  padding: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: v.$shadow;
  min-width: 8rem;
  overflow: hidden;

  &__name {
    margin: 0 0 1rem 0;
    font-size: 1.2em;
    color: v.$primary-color;
    font-weight: 600;
  }

  &__members {
    position: relative;
    height: 2.5em;
  }

  &__member-avatar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform, z-index 0.2s ease;
    top: 0;

    &:hover {
      transform: translateY(-1px);
      z-index: 10 !important;
    }

    &--extra {
      background-color: #718096 !important;
      color: white;
    }
  }

  &__avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &__avatar-fallback {
    font-size: 1em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
  }
}
